VITE_SOCKET_URL=http://localhost:3001
BETTER_AUTH_URL=http://localhost:3000/
BETTER_AUTH_SECRET=your_super_secret_random_string_here

DATABASE_URL=postgresql://localuser:passWord123!@localhost:5432/localdata
RABBITMQ_URL=amqp://username:password@localhost:5672

FORHU_CHAT_URL=https://chat-dev.forhu.ai

SUPPORT_LANGUAGE=en
