# Application Configuration
VITE_SOCKET_URL=http://localhost:port
BETTER_AUTH_URL=http://localhost:port/

BETTER_AUTH_SECRET=your_super_secret_random_string_here

DATABASE_URL=postgresql://user:password@localhost:port/your_database_name

RABBITMQ_URL=amqp://username:password@hostname:port

OPENAI_API_KEY=sk-your-openai-api-key-here